body {
    background-size: cover;
    font-size: larger;
    font-weight: bolder;
    margin: 0;
    font-family: Playfair Display, sans-serif;

}

a {
    text-decoration: none;
    color: #000000;
    text-transform: none;
    transition: 0.25s ease;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    justify-content: space-around;

}

ul li {
    text-decoration: none;
    margin: 0 0.15em 0 0.75em;
}

ul:hover a {
    color: #3d3df8;
}

ul:hover a:hover {
    color: #3d3df8;
    box-shadow: 0 2px 0 0 currentColor;
}



h1 {

    font-weight: bolder;
    font-size: 80px;

}

.banner {
    background-image: url(img/2021-06-14.jpg);
    background-size: cover;
    background-position: center;
    padding: 150px 0;
    text-align: center;
    border-style: solid;


}


.click {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    mix-blend-mode: color-burn;
}

.footer p {
    background-color: rgb(117, 110, 110);
    text-align: center;
    padding: 1%;
    margin: 0;
    border-style: solid;

}

.footer img {
    width: 45px;

}

@media (min-width: 300px) {
    .cards {
        grid-template-columns: 1fr;
        color: black;
    }
}

/*@media(max-width: 300px) {
    .cards {
        grid-template-columns: 1fr 1fr;
    }
}
*/

@media (min-width: 300px) {
    .banner {
        grid-template-columns: 1fr;
        color: black;
    }
}

@media(max-width: 900px) {
    .banner {
        grid-template-columns: 1fr;
        color: black;
    }
}